.commonBlock {
  display: flex;
  flex-flow: row nowrap;
  gap: 40px;
  width: 100%;
}

.cardList {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  justify-content: center;
  align-items: start;
  box-sizing: border-box;
  width: 75%;
  max-width: var(--max-width);
  min-height: var(--mid-height);
  margin: 0 auto;
  text-align: center;
}

.itemInfo {
  width: 85%;
  font-size: 18px;
  text-align: right;
  color: var(--light-color);
}

.name {
  color: var(--light-color);
}

@media (width <= 800px) {
  .commonBlock {
    flex-flow: column-reverse nowrap;
    gap: 20px;
    align-items: center;
  }
}
