.containerButton,
.container {
  width: 230px;
}

.container {
  width: 150px;
  height: 70px;
  background-image: url("../../assets/images/star-wars.png");
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  transition: all 500ms;

  &:hover {
    background-size: 100%;
  }
}

.button {
  height: 42px;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  transition: all 500ms;

  &:hover {
    background-color: var(--secondary-color);
  }
}

@media (width <= 400px) {
  .containerButton,
  .container {
    width: 100px;
  }
}
