.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: 100dvh;
  margin: 0 auto;

  & .stormtrooper {
    width: 350px;
    height: 350px;
    background-image: url("../../assets/images/stormtrooper.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  & .error {
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #c39f4b;

    & .detail {
      font-weight: 500;
    }
  }
}

.header {
  padding: 20px 0;
  color: #fcfbe7;
}
