.title {
  padding: 20px 0;
  color: var(--light-color);
}

.stormtrooper {
  width: 350px;
  height: 350px;
  background-image: url("../../assets/images/stormtrooper.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.error {
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-color);

  & .detail {
    font-weight: 500;
  }
}

