.cardList {
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
  min-height: var(--mid-height);
  margin: 50px auto;
  padding: 0 50px;
  text-align: center;
}
