.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
  background: #100f13;
  border-bottom: 2px solid #fcfbe7;
}

.container {
  width: 150px;
  height: 70px;
  background-image: url("../../assets/images/star-wars.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: all 500ms;

  &:hover {
    background-size: 100%;
    transition: all 500ms;
  }
}

.button {
  height: 42px;
  background-color: #c39f4b;
  border: 1px solid #e0ce97;
  border-radius: 10px;
  transition: all 500ms;

  &:hover {
    background-color: #e0ce97;
    border: 1px solid #c39f4b;
    transition: all 500ms;
  }
}
